
* { -webkit-tap-highlight-color: transparent; outline: none;}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: #1e293b;
  color: white;
  margin: 0;
  padding: 10px;
}

/* Title */
h1 {
  margin-bottom: 10px;
  color: #fbbf24;
}

/* Scoreboard */
.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Button style */
#resetBtn {
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#resetBtn:hover {
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(59,130,246,0.6);
}

/* Game board */
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

/* Card styles */
.card {
  width: 90px;
  height: 90px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-back {
  background: #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.card-front {
  background: #fbbf24;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}


/*Victory Modal */ 
.modal { display: none; /* hidden by default */ position: fixed; z-index: 10; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); justify-content: center; align-items: center; } 

.modal-content { background: #334155; color: white; padding: 30px 25px; border-radius: 15px; text-align: center; max-width: 400px; width: 85%; box-shadow: 0 0 25px rgba(59,130,246,0.4); border: 2px solid #2563eb; } 

.modal-content h2 { color: #fbbf24; margin-bottom: 15px; font-size: 1.8rem; }

.modal-content p { font-size: 1.1rem; margin-bottom: 25px; color: #e5e7eb; } 

#playAgainBtn { background: linear-gradient(135deg, #1e3a8a, #2563eb); color: white; border: none; padding: 10px 25px; border-radius: 12px; font-size: 1.1rem; cursor: pointer; font-weight: bold; transition: all 0.3s ease-in-out; } 

#playAgainBtn:hover { background: linear-gradient(135deg, #2563eb, #1e3a8a); transform: scale(1.05); box-shadow: 0 0 12px rgba(59,130,246,0.6); }